@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap');
/*  font-family: 'Poppins', sans-serif; */
/* font-family: 'Righteous', cursive; */

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
 }

body {
  background: linear-gradient(236.85deg, #000 27.26%, #3468A7 96.03%);
  font-family: 'Poppins', sans-serif;
}

.container {
  background: #000;
  margin: 80px;
  border-radius: 30px;
  box-shadow: 6px 6px 6px #0E1D2F;
  padding: 80px;
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.foto {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
}

.foto img {
  border-radius: 50%;
  max-height: 160px;
  box-shadow: 0px 6px 6px #0E1D2F;
}

.titulos h1 {
  font-family: 'Righteous', cursive;
  color: aquamarine;
}

.titulos h3 {
  color: aliceblue;
}

.tema button {
  font-size: 18px;
  border-radius: 30px;
  padding: 8px 16px;
  margin: 30px;
  background: #0E1D2F;
  box-shadow: 0px 6px 6px #0E1D2F;
  color: aliceblue;
  cursor: pointer;
}

.redes-sociais {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.redes-sociais img {
  max-width: 60px;
  border-radius: 50%;
  box-shadow: 0px 6px 6px #0E1D2F;
}

.projetos {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(330deg, #000 27.26%, #3468A7 96.03%);
  border-radius: 30px;
  margin-top: 40px;
  box-shadow: 0px 6px 6px #0E1D2F;
}

.projetos ul {
  align-items: center;
  color: aquamarine;
  font-size: 30px;
  font-family: 'Righteous', cursive;
  margin: 30px;
  line-height: 40px;
}

.projetos li a {
  color: aliceblue;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  line-height: 10px;
}


/* Tema Claro */
.claro {
  background: linear-gradient(180deg, #fff 60%, #3468A7 90%)
}

.claro .container {
  background: #fff;
}

.claro .titulos h1 {
  color:#0E1D2F;
}

.claro .titulos h3 {
  color: #000;
}

.claro .tema button{
  background: #3468A7;
  color:#000;
}